:root {
    --primary-dark-blue: hsl(215, 82%, 28%);
    --secondary-light-blue: hsl(214, 50%, 50%);
    --clr-orange-500: hsl(25, 100%, 50%);
    --clr-red-300: hsl(13, 100%, 50%);
    --clr-red-500: hsl(0, 73%, 56%);
    --clr-green-300: hsl(83, 89%, 59%);
    --clr-green-500: hsl(110, 90%, 42%);
    --clr-Dark-sky-blue: hsl(180, 89%, 29%);
    --clr-Darker-sky-blue: hsl(180, 91%, 13%);
    --clr-yellow-300: hsl(60, 100%, 65%);
    --clr-yellow-500: hsl(51, 100%, 50%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-300: hsl(0, 0%, 94%);
    --clr-gray-500: hsl(0, 0%, 87%);
    --clr-gray-700: hsl(0, 0%, 80%);
    --clr-gray-900: hsl(0, 0%, 20%);
    --clr-black: hsl(0, 0%, 0%);
    --font-primary: "Russo One", sans-serif;
    --font-secondary: "Almarai", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--primary-dark-blue);
    font-family: var(--font-primary);
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}

.container {
    padding: 3em;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--secondary-light-blue);
}

.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}

.relative {
    position: relative;
}

svg {
    width: calc(100% - 50px);
}

/* Header Section */
.header {
    background-color: var(--clr-yellow-500);
    display: grid;
    place-items: center;
    padding: 1em 0;
    max-height: 10rem;
}

/* Helper tools */
.helper-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 5em;
    height: 5em;
    border: none;
    background-color: var(--clr-yellow-500);
    border-radius: 50%;
    transition: all 300ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: var(--clr-yellow-300);
}

.btn:active {
    background-color: var(--clr-yellow-500);
}

.btn svg {
    width: 3.25em;
}

.fifty svg {
    width: 4em;
}

.btn.disabled {
    background-color: var(--clr-red-500);
    cursor: not-allowed;
}

.btn:has(#withdraw) {
    background-color: var(--clr-white);
    cursor: not-allowed;
}
.can-withdraw-money:has(#withdraw) {
    background-color: var(--clr-green-300);
    cursor: pointer;
    animation: upAndDown 0.2s linear 0s 2;
}

.btn.can-withdraw-money:has(#withdraw):hover {
    background-color: var(--clr-green-500);
}

.btn.can-withdraw-money:has(#withdraw):active {
    background-color: var(--clr-green-300);
}

@keyframes upAndDown {
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
    50%,
    100% {
        transform: translateY(0);
    }
}

.sound {
    background-color: var(--clr-white);
}

.sound:hover {
    background-color: var(--clr-gray-300);
}

.sound:active {
    background-color: var(--clr-white);
}

/* Progress Sections */
.progress-section {
    margin: 2.5em auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: end;
    padding: 0.5em;
    width: 100%;
    border-radius: 0.5em;
    background-color: var(--clr-gray-300);
}

progress[value] {
    flex: 1 1 100%;
    width: 85%;
    height: 2em;
    border: 4px solid var(--secondary-light-blue);
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    background-color: var(--secondary-light-blue);
}
progress::-webkit-progress-value {
    background-color: var(--clr-red-500);
}

.progress-section p {
    color: var(--primary-dark-blue);
    font-size: 2rem;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.open.modal {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);

    z-index: 10;
    display: grid;
    place-items: center;
    transform-origin: 50% 25%;
    /* animation: fillWidthAndHeight 5s ease-in both; */
}

.open.modal__content {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    height: 60%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding: 4em;
    transform-origin: top center;
}

.open.modal-call {
    width: 80%;
    height: 80%;
}

.open.modal__box {
    flex: 1 1 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open.modal__bar {
    width: 40px;
    height: 90%;
    background: #ea7575;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    display: flex;
    align-items: end;
    overflow: hidden;
}

.open.modal__numbers {
    font-size: 3.5rem;
    margin-top: 0.25em;
    text-align: center;
    color: #333;
}

.people.modal {
    animation: fillWidthAndHeight 5s ease-in both, scaleDown 8.5s ease-in both;
}

.people .modal__content {
    animation: fillWidthAndHeight 5s ease 3s both, scaleDown 9s ease both;
}

.friend.modal {
    animation: fillWidthAndHeight 0.75s ease-in both;
}
.friend.modal__content {
    animation: fillWidthAndHeight 0.5s ease 0.5s both;
}
.friend.close {
    animation: scaleDown 1.5s ease both;
}

.open.modal__box__inner {
    width: 100%;
    background-color: var(--clr-yellow-500);
    border-radius: inherit;
    animation: goUp 2s ease-in-out 4.5s both;
}

.open.modal__box__inner > span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    animation: show 0.5s ease-out 5.5s both;
}

@keyframes goUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translate(0%);
    }
}

@keyframes fillWidthAndHeight {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1);
    }
}

@keyframes scaleDown {
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Modal Call a friend*/
.ModalCall .modal__content {
    flex-direction: column;
}
.ModalCall .modal__content progress[value] {
    width: 100%;
}

.ModalCall .modal__content .progress-section {
    display: block;
    margin: 0;
    width: 80%;
    padding: 1.5em;
}

.ModalCall .modal__content .progress-section p {
    display: none;
}
.ModalCall h2 {
    font-size: 2.5rem;
    text-align: center;
}

.ModalCall .btns {
    display: flex;
    gap: 2rem;
}

.modal .success {
    animation: upAndDown 0.2s linear 2;
    background-color: hsla(120, 86%, 68%, 0.785);
}

.modal .danger {
    animation: upAndDown 0.2s linear 2;
    background-color: var(--clr-red-500);
}

/* key down btn */
.key-down-btn {
    background-color: #fff8f1;
    border: 2px solid var(--clr-Dark-sky-blue);
    border-radius: 30px;
    box-shadow: 4px 4px 0 0 hsl(214, 50%, 50%);
    color: hsl(180, 91%, 13%);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.key-down-btn:hover {
    background-color: #fff;
}

.key-down-btn:active {
    box-shadow: var(--clr-Darker-sky-blue) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.key-down-btn-with-keyboard {
    box-shadow: var(--clr-Darker-sky-blue) 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .key-down-btn {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* Timer */
#timer {
    background-color: var(--clr-gray-700);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 5px solid var(--clr-Darker-sky-blue);
}

.semiCircle {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform-origin: right center;
}

.semiCircle:nth-child(1) {
    z-index: 2;
    background-color: var(--clr-Dark-sky-blue);
    transform: rotate(180deg);
}

.semiCircle:nth-child(2) {
    z-index: 3;
    background-color: var(--clr-Dark-sky-blue);
    transform: rotate(360deg);
}

.semiCircle:nth-child(3) {
    z-index: 4;
    background-color: var(--clr-gray-700);
    transform: rotate(360deg);
}

.outerCircle {
    z-index: 5;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--clr-gray-900);
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.semiColon {
    margin-inline: 0.25em;
}
/* ===================================== Prizes Section ==================================== */

.prizes {
    background-color: var(--clr-red-500);
    color: var(--clr-white);
    grid-area: prizes;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 2rem;
    cursor: default;
    display: none;
}

.prize {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-right: 3rem;
    transition: background-color 100ms;
    position: relative;
}

.prize .stars {
    position: absolute;
    top: 28%;
    right: 28%;
    width: fit-content;
}

.prize > span {
    font-size: 2.5rem;
    line-height: normal;
}

.prize > span:last-child {
    position: absolute;
    right: 38%;
}

.prizes .prize:last-child {
    padding-top: 0.5rem;
}

.prizes .prize:last-child .stars {
    top: 31%;
}

/* ======================================= Question Section ============================   */
.question {
    position: relative;
    margin-top: 2em;
}

.field {
    height: 100%;
}

.field > svg {
    height: inherit;
    display: block;
    margin: 0 auto;
}

.question .field h3 {
    font-size: 2.4rem;
    max-width: 18ch;

    right: 18%;
}

.field h3 {
    position: absolute;
    color: var(--clr-white);
    top: 50%;
    transform: translateY(-55%);
    padding: 0.5em;
    font-weight: 500;
}

.question .answer-btn__bg-svg {
    fill: #ea7575;
    cursor: default;
}

/* ====================================== Answers Section ================================*/
.answers {
    margin-top: 1.5em;
    grid-area: a;
    display: flex;
    flex-wrap: wrap;
}

.answers .field {
    width: 50%;
    height: 50%;
    position: relative;
    margin-top: 0.25em;
    perspective: 50px;
}

.answers .field svg {
    height: 100%;
}

.answer-btn__bg-svg {
    cursor: pointer;
    transition: all 300ms;
}

.answers .field:hover .answer-btn__bg-svg {
    fill: orange;
}

.answers .field:active .answer-btn__bg-svg {
    fill: darkorange;
}

.answers .field h3 {
    margin-right: 22%;
    font-size: 1.5rem;
    max-width: 15ch;
    cursor: pointer;
}
.answers .field:hover:has(.fadeOut) .answer-btn__bg-svg {
    fill: var(--secondary-light-blue);
    cursor: not-allowed;
}

.fadeOut {
    animation: fadeOut 1s ease-in both;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        translate: 0 0 0;
    }
    to {
        opacity: 0;
        translate: 0% 0% -1000px;
    }
}

.answers .field.toggleSuccess .answer-btn__bg-svg {
    animation: toggleSuccess 0.5s ease-in both;
}

.answers .field.toggleDanger .answer-btn__bg-svg {
    animation: toggleDanger 0.5s ease-in both;
}

@keyframes toggleSuccess {
    10%,
    20%,
    40%,
    60%,
    80% {
        fill: var(--clr-green-300);
    }

    0%,
    30%,
    50%,
    70%,
    100% {
        fill: var(--secondary-light-blue);
    }
}

@keyframes toggleDanger {
    20%,
    40%,
    60%,
    80% {
        fill: var(--clr-red-300);
    }

    0%,
    10%,
    30%,
    50%,
    70%,
    100% {
        fill: var(--secondary-light-blue);
    }
}

/* ============================ Footer Section ================================ */

.footer {
    color: var(--clr-white);
    background-color: var(--clr-red-500);
    font-size: 1.5rem;
    min-height: 3em;
    text-align: center;
    display: grid;
    place-items: center;
    font-family: var(--font-secondary);
}

.footer span {
    font-size: 2rem;
}
/* player won page */
.bg-image {
    background: radial-gradient(
        circle at 97% 92%,
        rgb(252, 255, 87) 0%,
        rgb(238, 148, 148) 98.2%
    );
}

.wrapper.bg-image .container {
    background-color: transparent;
}

.player-won {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    place-items: center;
}

.player-won h2 {
    font-size: 4.5rem;
    text-align: center;
    color: var(--clr-red-500);
    text-shadow: 2px 3px var(--clr-yellow-500);
    animation: rotateScalo 2s ease 2;
}

@keyframes rotateScalo {
    30% {
        transform: scale(1.1);
        color: rgb(255, 32, 214);
    }
    40%,
    60% {
        transform: rotate(-20deg) scale(1.1);
        color: var(--clr-red-500);
    }
    50% {
        transform: rotate(20deg) scale(1.1);
        color: var(--clr-yellow-300);
    }
    70% {
        transform: rotate(0deg) scale(1.1);
        color: var(--secondary-light-blue);
    }
    100% {
        transform: scale(1);
        color: var(--primary-dark-blue);
    }
}

/* Player Lost */
.player-lost {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    place-content: center;
    justify-items: center;
}

.player-lost h2 {
    font-size: 4rem;
    color: #ffeb3b;
}

/* Result Button */
.res-btn {
    color: var(--primary-dark-blue);
    padding: 0.5em 1em;
    border-radius: 15px;
    font-size: 3rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    margin-top: 1em;
    cursor: pointer;
    border: none;
    transition: all 0.25s;
}

.res-btn.win {
    background-color: var(--clr-red-300);
    color: white;
}
.res-btn:hover.win {
    background-color: var(--clr-orange-500);
}
.res-btn:active.win {
    background-color: var(--clr-gray-300);
}

.res-btn.lose {
    background-color: var(--clr-green-300);
}

.res-btn:hover.lose {
    background-color: #fdc200;
}

.res-btn:active.lose {
    background-color: var(--clr-green-300);
}
/* Media Queies */

@media (min-width: 640px) {
    .container {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .question .field h3 {
        font-size: 3rem;
    }
    .answers .field h3 {
        font-size: 2rem;
    }
    svg {
        width: 100%;
    }
    .player-won h2 {
        font-size: 6rem;
    }
}

@media (min-width: 700px) {
    .question .field h3 {
        max-width: 18ch;
    }

    .answers .field h3 {
        max-width: 14ch;
    }
    .player-won h2 {
        font-size: 8rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 768px;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 0 2em;
        background-color: var(--secondary-light-blue);
    }
    .helper-tools {
        grid-area: 1 / 1 / 2 / span 1;
        min-width: 35rem;
        justify-self: center;
    }
    .progress-section {
        display: none;
    }
    .prizes {
        display: flex;
        flex-direction: column-reverse;
        grid-area: 1 / 2 / span 4 / span 1;
    }
    .question {
        grid-area: 2 / 1 / span 1 / 2;
        max-height: 12em;
        display: block;
        justify-self: center;
    }
    .answers {
        grid-area: 3/ 1 / span 2 / 2;
        display: flex;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
        grid-template-rows: 90px 2fr 1fr 1fr;
    }
    .helper-tools {
        min-width: 80%;
    }
    .question {
        max-height: 30em;
    }
    .question .field h3 {
        max-width: 22ch;
        font-size: 3rem;
        padding-right: 0;
    }
}
